@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  height: 100vh;
  background-color: #22242a;
  font-family: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  display: grid;
  place-content: center;
  height: 70vh;
}
.app p {
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
  font-weight: bold;
}
span,
ul,
li,
a,
p {
  color: #a8a8a8;
}
